.switch-theme {
  .form-check-input:checked {
    background-color: gray;
    border-color: gray;
  }
}

@keyframes bounce {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -40%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.image-follow-container {
  position: relative;
}

.text-hover {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.acab {
  position: absolute;
  top: 0;
  left: 0;
  //   transition: transform 0.23s;
  pointer-events: none;
}

.box-out {
  position: relative;
  height: 500px;
  width: 800px;
  margin: auto;
}

.box-9 {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: auto;
}

.react-image-follow-img {
  width: 100%;
}

.mask-9 {
  position: absolute;
  width: 100%;
  -webkit-mask-image: url(../assets/images/456.png);
  mask-image: url(../assets/images/456.png);
  mask-position: center;
  -webkit-mask-size: 50%;
  mask-size: 50%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transition: 1s;
  transform: translate(-50%, -50%);

  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
