:root {
  --bg-img: url("https://images.unsplash.com/photo-1643101808398-ab1817b74013?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  --mask-img: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/sun.svg");
}

.switch-theme {
  .form-check-input:checked {
    background-color: gray;
    border-color: gray;
  }
}

.box {
  position: relative;
  overflow-y: hidden;
}

.animate-container {
  max-height: 400px;
}

.text-animate {
  text-align: center;
  margin: 0;
  font-size: clamp(80px, 10vw, 300px);
  font-weight: 900;
  line-height: 1.9;
  animation-name: bounce;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.img-animate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.light {
  background: white;

  .text-animate {
    color: black;
  }

  .img-animate {
    mix-blend-mode: lighten;
  }
}

.dark {
  background: black;

  .text-animate {
    color: white;
  }

  .img-animate {
    mix-blend-mode: darken;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-follow-container {
  position: relative;
}

.text-hover {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.acab {
  position: absolute;
  top: 0;
  left: 0;
  //   transition: transform 0.23s;
  pointer-events: none;
}
